@if(q){
<div class="qc-head">
  <div class="inline">
    <div>
      <div class="qc-title">{{ q.title }}</div>
      <div class="desc">{{q.helpText ?? 'Ask one clear question and offer a few options.'}}</div>
    </div>
  </div>
  <div class="qc-actions">
    <div class="btn icon ghost">
      <iconify-icon
        icon="lucide:grip-vertical"
        style="font-size: 18px; color: var(--foreground)"
      ></iconify-icon>
    </div>
    <div class="btn icon ghost" (click)="store.duplicateQuestion(q.id)">
      <iconify-icon
        icon="lucide:copy"
        style="font-size: 18px; color: var(--foreground)"
      ></iconify-icon>
    </div>
    <div class="btn icon ghost" (click)="openProps(q.id)">
      <iconify-icon
        icon="lucide:settings"
        style="font-size: 18px; color: var(--foreground)"
      ></iconify-icon>
    </div>
    <!-- <div class="btn primary">
      <iconify-icon
        icon="lucide:check"
        style="font-size: 18px; color: var(--primary-foreground)"
      ></iconify-icon>
      Done
    </div> -->
  </div>
</div>
<div class="qc-body">
  <div class="row">
    @if (q && q.options.length > 0) {
    <div
      class="option-pill"
      *ngFor="let opt of q.options; let i = index"
      (click)="$event.stopPropagation()"
    >
      <iconify-icon
        [icon]="opt.icon"
        style="font-size: 16px; color: var(--foreground)"
      ></iconify-icon>
      {{opt.label}}
    </div>
    }

    <!-- <div class="option-pill pill-add" (click)="addOpt()">
      <iconify-icon
        icon="lucide:plus"
        style="font-size: 16px; color: var(--muted-foreground)"
      ></iconify-icon>
      Add option
    </div> -->
  </div>
  <div class="divider"></div>
  <div class="row space-between">
    <div class="muted">@if (!q?.required) { <s>Required</s> } @if (q?.required) { Required }</div>
    <div class="muted">{{q.type == 'multiChoice' ? 'Multiple Answer' : 'Single Answer'}}</div>
  </div>
</div>

}
